<div class="cat-container">
  <div class="cat-header">
    <span>
      <h1>My cat, Kenickie</h1>
      <h2>(The most handsome boy in the world)</h2>
      <!-- <h3>I love him...</h3> -->
    </span>
  </div>

  <div class="cat-body">
    <gallery id="basic-test" [thumbPosition]="'top'" fluid [items]="items"></gallery>

  </div>

  <!-- <div class="lightbox-example">
        <h2>Lightbox Example</h2>
        <button mat-raised-button color="primary" (click)="lightbox.open(0)">Open Lightbox</button>
  
  
        <button mat-raised-button color="accent" (click)="lightbox.open(0, 'lightbox', {panelClass: 'fullscreen'})">Open Lightbox in fullscreen mode</button>
      </div>
  
      <div class="gallerize-example">
        <h2>Gallerize Example</h2>
        <p class="container" gallerize>
          <img *ngFor="let img of imageData" [src]="img.srcUrl">
        </p>
      </div> -->
</div>
