.forgot-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100%;
  margin-top: 15px;

  .forgot-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40dvh;
    text-align: center;

    .logo-icon {
      background: none;
      padding: 0;
      border: 0;
      cursor: pointer;
      width: 140px;
      margin-bottom: 10px;
    }
  }

  .forgot-body {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .forgot-options {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 350px;
      .forgot-radio-btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1 1;
        text-align: center;
        width: min-content;
      }
      .mat-mdc-radio-button {
        flex-direction: column;
      }
    }
    .forgot-form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;

      .input-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;

        gap: 5px;

        mat-form-field {
          width: 100%;
        }

        .form-error {
          text-align: right;
        }

        label {
          margin-right: 10px;
        }
      }

      #approve-email-container {
        margin: 20px 0px 20px 0px;
        
        #approve-email-text {
          font-size: 15px;
          font-weight: bold;
          text-align: center;
          width: 300px;
        }

      }


      .button-container {
        display: flex;
        flex-direction: row;
          justify-content: space-between;
        gap: 10px;
        align-items: center;
        height: auto;
        width: 100%;
        margin-bottom: 30px;

      }
    }
  }

  .login-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}

.current-theme-label {
  padding-left: 8px;
}
.mat-mdc-radio-button.mdc-form-field {
  flex-direction: column;
}
