<div class="signup-container">
  <div class="signup-header">
    <img
      class="logo-icon"
      [src]="logoPath
      "
    />

    <h1>REQUEST ACCOUNT</h1>
  </div>

  <mat-divider></mat-divider>

  <div class="signup-body">
    <form
      class="signup-form"
      name="loginForm"
      [formGroup]="signupForm"
      (submit)="onSubmit()"
    >
      <div class="input-wrapper">
        <!--Email field-->
        <mat-form-field input class="email-container" appearance="fill">
          <mat-label for="email">Email</mat-label>
          <input
            matInput
            required
            formControlName="email"
            id="email"
            type="email"
            autocomplete="email"
            maxlength="254"
            (input)="removeSpacesInput($event)"
            appDisallowSpaces
          />
          <mat-error
            *ngIf="f.email.touched && f.email.invalid"
            class="form-error"
          >
            {{ emailFieldErrorText(f.email)}}
          </mat-error>
        </mat-form-field>

        <!--Username field-->
        <mat-form-field input class="uname-container" appearance="fill">
          <mat-label for="username">Username</mat-label>
          <input
            matInput
            required
            formControlName="username"
            id="username"
            type="text"
            autocomplete="username"
            maxlength="50"
            (input)="removeSpacesInput($event)"
            appDisallowSpaces
          />
          <mat-error
            *ngIf="f.username.touched && f.username.invalid"
            class="form-error"
          >
            {{ unameFieldErrorText(f.username) }}
          </mat-error>
        </mat-form-field>

        <div class="password-reqs">
          <p class="reqs-title">{{ "Password Requirements" }}</p>

          <p>- Between 8 and 50 characters long</p>

          <p>- At least 1 Uppercase letter</p>

          <p>- At least 1 Lowercase letter</p>
          <p>- At least 1 number</p>
          <p>
            {{ "- At least 1 special character: " }}
          </p>
          <p>
            {{ "!?@#$%&^:;.,~\"`'*+-_=(){}[]\<>/\\" }}
          </p>
        </div>

        <!--Password field-->
        <div class="password-container">
          <mat-form-field input class="pass-container" appearance="fill">
            <mat-label for="password">Password</mat-label>
            <input
              matInput
              required
              formControlName="password"
              id="password"
              [type]="isHidePassword ? 'password' : 'text'"
              autocomplete="new-password"
              maxlength="50"
              (input)="removeSpacesInput($event)"
              appDisallowSpaces
              [errorStateMatcher]="sameUnameAndPassMatcher"
            />
            <!-- <password-strength-meter [password]="passwordModel" 
            [enableFeedback]="true"/> -->
            <!-- <mat-hint align="end">{{ "testing.." }}</mat-hint> -->
            <mat-error
              *ngIf="f.password.touched && f.password.invalid"
              class="form-error"
            >
              {{ passFieldErrorText(f.password) }}
            </mat-error>
            <mat-error
              *ngIf="
                f.password.touched &&
                !f.password.invalid &&
                signupForm.hasError('sameUnameAndPass')
              "
              class="form-error"
            >
              {{ "Password cannot be username" }}
            </mat-error>
          </mat-form-field>

          <button
            mat-icon-button
            [matTooltip]="(isHidePassword ? 'Show' : 'Hide') + ' Password'"
            color="accent"
            type="button"
            (click)="
              this.isHidePassword = this.isHidePassword ? false : true;
              $event.preventDefault()
            "
          >
            <mat-icon class="auto-flip">{{
              isHidePassword ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
        </div>
      </div>

      <div>
        <p class="approve-email-text">
          Please allow 24h for your account request to be reviewed
        </p>
        <p class="approve-email-text">
          If approved, you will recieve an email with a link to log in. Please check your spam folder.
        </p>
      </div>

      <div class="button-container">
        <button mat-raised-button color="warn" type="button" routerLink="/">
          Cancel
        </button>
        <button
          mat-raised-button
          color="accent"
          [disabled]="!signupForm.valid"
          type="submit"
        >
          Request
        </button>
      </div>
    </form>

    <div class="login-container">
      <p>Already have an account?</p>
      <button
        mat-raised-button
        class="login-button"
        routerLink="/user-auth/login"
      >
        Log In
      </button>
    </div>
  </div>
</div>
