<div class="reset-container">
  <div class="reset-header">
    <img class="logo-icon" [src]="logoPath" />
    <h1>
      {{
        changeType +
          (changeType === deleteAccountString
            ? " Account"
            : " " + credentialsType.replaceAll("_", " ")) | uppercase
      }}
    </h1>
  </div>

  <mat-divider></mat-divider>
  <div class="reset-body">
    <div
      *ngIf="isUserAuthenticated && changeType === deleteAccountString"
      class="delete-account-message"
    >
      <h4>Enter your credentials to delete your account</h4>
    </div>
    <div
      *ngIf="isUserAuthenticated && credentialsType === emailString"
      class="current"
    >
      <mat-label>Current Email</mat-label>
      <h4>{{ currentEmail }}</h4>
    </div>

    <div
      *ngIf="isUserAuthenticated && credentialsType === unameString"
      class="current"
    >
      <mat-label>Current Username</mat-label>
      <h4>{{ currentUsername }}</h4>
    </div>
    <form
      class="reset-form"
      name="resetForm"
      [formGroup]="resetForm"
      (submit)="onSubmit()"
    >
      <div class="input-wrapper">
        <!--New Email field-->
        <mat-form-field
          *ngIf="credentialsType === emailString"
          input
          class="email-field new"
          appearance="fill"
        >
          <mat-label for="newEmail">New Email</mat-label>
          <input
            matInput
            required
            formControlName="newEmail"
            id="newEmail"
            type="newEmail"
            autocomplete="newEmail"
            maxlength="254"
            (input)="removeSpacesInput($event)"
            appDisallowSpaces
            [errorStateMatcher]="sameCurrentAndNewEmailMatcher"
          />
          <mat-error
            *ngIf="f.newEmail.touched && f.newEmail.invalid"
            class="form-error"
          >
            {{ emailFieldErrorText(f.newEmail) }}
          </mat-error>
          <mat-error
            *ngIf="
              f.newEmail.touched &&
              !f.newEmail.invalid &&
              resetForm.hasError('sameCurrentAndNewEmail')
            "
            class="form-error"
          >
            {{ "Email cannot be current email" }}
          </mat-error>
        </mat-form-field>

        <!--Confirm Email field-->
        <mat-form-field
          *ngIf="credentialsType === emailString"
          input
          class="email-field confirm"
          appearance="fill"
        >
          <mat-label for="email">Confirm Email</mat-label>
          <input
            matInput
            required
            formControlName="confirmEmail"
            id="confirmEmail"
            type="confirmEmail"
            autocomplete="confirmEmail"
            maxlength="254"
            (input)="removeSpacesInput($event)"
            appDisallowSpaces
            [errorStateMatcher]="confirmEmailMatcher"
          />
          <mat-error
            *ngIf="f.confirmEmail.touched && f.confirmEmail.invalid"
            class="form-error"
          >
            {{ emailFieldErrorText(f.confirmEmail) }}
          </mat-error>
          <mat-error
            *ngIf="
              f.confirmEmail.touched &&
              !f.confirmEmail.invalid &&
              resetForm.hasError('emailNotConfirmed')
            "
            class="form-error"
          >
            {{ "Email does not match" }}
          </mat-error>
        </mat-form-field>

        <!--Username field-->
        <mat-form-field
          *ngIf="
            credentialsType === unameString ||
            credentialsType === unameAndPassString
          "
          input
          class="uname-field new"
          appearance="fill"
        >
          <mat-label for="newUsername">New Username</mat-label>
          <input
            matInput
            required
            formControlName="newUsername"
            id="newUsername"
            type="text"
            maxlength="50"
            (input)="removeSpacesInput($event)"
            appDisallowSpaces
            [errorStateMatcher]="sameCurrentAndNewUsernameMatcher"
          />
          <mat-error
            *ngIf="f.newUsername.touched && f.newUsername.invalid"
            class="form-error"
          >
            {{ unameFieldErrorText(f.newUsername) }}
          </mat-error>
          <mat-error
            *ngIf="
              f.newUsername.touched &&
              !f.newUsername.invalid &&
              resetForm.hasError('sameCurrentAndNewUsername')
            "
            class="form-error"
          >
            {{ "Username cannot be current username" }}
          </mat-error>
        </mat-form-field>

        <!--Confirm Username field-->
        <mat-form-field
          *ngIf="
            credentialsType === unameString ||
            credentialsType === unameAndPassString
          "
          input
          class="uname-field confirm"
          appearance="fill"
        >
          <mat-label for="confirmUsername">Confirm Username</mat-label>
          <input
            matInput
            required
            formControlName="confirmUsername"
            id="confirmUsername"
            type="text"
            maxlength="50"
            (input)="removeSpacesInput($event)"
            appDisallowSpaces
            [errorStateMatcher]="confirmUnameMAtcher"
          />
          <mat-error
            *ngIf="f.confirmUsername.touched && f.confirmUsername.invalid"
            class="form-error"
          >
            {{ unameFieldErrorText(f.confirmUsername) }}
          </mat-error>
          <mat-error
            *ngIf="
              f.confirmUsername.touched &&
              !f.confirmUsername.invalid &&
              resetForm.hasError('unameNotConfirmed')
            "
            class="form-error"
          >
            {{ "Username does not match" }}
          </mat-error>
        </mat-form-field>

        <!--Password Requirements-->
        <div
          *ngIf="
            credentialsType === passString ||
            credentialsType === unameAndPassString
          "
          class="password-reqs"
        >
          <p class="reqs-title">{{ "Password Requirements" }}</p>

          <p>- Between 8 and 50 characters long</p>

          <p>- At least 1 Uppercase letter</p>

          <p>- At least 1 Lowercase letter</p>
          <p>- At least 1 number</p>
          <p>
            {{ "- At least 1 special character: " }}
          </p>
          <p>
            {{ "\t!?@#$%^&*:;\"~`',.+-_=(){}[]\<>/\\" }}
          </p>
        </div>

        <!--New Password field-->
        <div
          class="reset-pass-container new"
          *ngIf="
            credentialsType === passString ||
            credentialsType === unameAndPassString
          "
        >
          <mat-form-field input class="reset-pass-field" appearance="fill">
            <mat-label for="newPassword">New Password</mat-label>
            <input
              matInput
              required
              formControlName="newPassword"
              id="newPassword"
              [type]="isHidePassword ? 'password' : 'text'"
              maxlength="50"
              autocomplete="new-password"
              (input)="removeSpacesInput($event)"
              appDisallowSpaces
              [errorStateMatcher]="sameUnameAndPassMatcher"
            />
            <!-- <password-strength-meter [password]="passwordModel" 
                [enableFeedback]="true"/> -->
            <mat-error
              *ngIf="f.newPassword.touched && f.newPassword.invalid"
              class="form-error"
            >
              {{ passFieldErrorText(f.newPassword) }}
            </mat-error>
            <mat-error
              *ngIf="
                f.newPassword.touched &&
                !f.newPassword.invalid &&
                resetForm.hasError('sameUnameAndPass')
              "
              class="form-error"
            >
              {{ "Password cannot be username" }}
            </mat-error>
          </mat-form-field>

          <!--Show/Hide password-->
          <button
            mat-icon-button
            [matTooltip]="(isHidePassword ? 'Show' : 'Hide') + ' Password'"
            color="accent"
            type="button"
            (click)="
              this.isHidePassword = this.isHidePassword ? false : true;
              $event.preventDefault()
            "
          >
            <mat-icon class="auto-flip">{{
              isHidePassword ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
        </div>

        <!--Confirm Password field-->
        <div
          class="reset-pass-container confirm"
          *ngIf="
            credentialsType === passString ||
            credentialsType === unameAndPassString
          "
        >
          <mat-form-field input class="reset-pass-field" appearance="fill">
            <mat-label for="confirmPassword">Confirm Password</mat-label>
            <input
              matInput
              required
              formControlName="confirmPassword"
              id="confirmPassword"
              [type]="isHidePassword ? 'password' : 'text'"
              maxlength="50"
              (input)="removeSpacesInput($event)"
              appDisallowSpaces
              [errorStateMatcher]="confirmPassMatcher"
            />

            <mat-error
              *ngIf="
                f.confirmPassword.touched &&
                f.confirmPassword.invalid &&
                !resetForm.hasError('passNotConfirmed')
              "
              class="form-error"
            >
              {{ passFieldErrorText(f.confirmPassword) }}
            </mat-error>
            <mat-error
              *ngIf="
                f.confirmPassword.touched &&
                resetForm.hasError('passNotConfirmed')
              "
              class="form-error"
            >
              {{ "Password does not match" }}
            </mat-error>
          </mat-form-field>
        </div>

        <mat-form-field
          *ngIf="changeType === deleteAccountString"
          input
          class="uname-field"
          appearance="fill"
        >
          <mat-label for="username">Username</mat-label>
          <input
            matInput
            required
            formControlName="username"
            id="username"
            type="text"
            autocomplete="username"
            maxlength="50"
            (input)="removeSpacesInput($event)"
            appDisallowSpaces
          />
          <!-- <mat-hint align="end">{{ f.username.value?.length }}/10</mat-hint> -->
          <mat-error
            *ngIf="f.username.dirty && f.username.invalid"
            class="form-error"
          >
            {{ unameFieldErrorText(f.username) }}
          </mat-error>
        </mat-form-field>

        <!--Password field-->
        <div *ngIf="changeType !== resetString" class="pass-container">
          <mat-form-field input class="pass-field" appearance="fill">
            <mat-label for="password">{{credentialsType === passString ? "Current Password" : "Password"}}</mat-label>
            <input
              matInput
              required
              formControlName="password"
              id="password"
              [type]="isHidePassword ? 'password' : 'text'"
              autocomplete="password"
              maxlength="50"
              appDisallowSpaces
            />
            <!-- <password-strength-meter [password]="passwordModel" 
              [enableFeedback]="true"/> -->
            <mat-error
              *ngIf="f.password.dirty && f.password.invalid"
              class="form-error"
            >
              {{ passFieldErrorText(f.password) }}
            </mat-error>
          </mat-form-field>
          <!--Show/Hide password-->
          <button
            mat-icon-button
            [matTooltip]="(isHidePassword ? 'Show' : 'Hide') + ' Password'"
            color="accent"
            type="button"
            (click)="
              this.isHidePassword = this.isHidePassword ? false : true;
              $event.preventDefault()
            "
          >
            <mat-icon class="auto-flip">{{
              isHidePassword ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
        </div>

        <!-- <div
          *ngIf="changeType === deleteAccountString"
          class="delete-account-container"
        >


       
        </div> -->
      </div>
      <div class="button-container">
        <button
          *ngIf="isUserAuthenticated"
          mat-raised-button
          color="warn"
          type="button"
          (click)="onCancel()"
        >
          Cancel
        </button>
        <button
          mat-raised-button
          color="accent"
          [disabled]="!resetForm.valid"
          type="submit"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
